{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Input form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="{%static "css/form1.css" %}">
  </head>
  <body>

    <div class="container" align='center'>
      {% if submitted %}
        <h1>Thanks for providing information</h1>
        <h2>Enter next student marks</h2>
      {% else %}
       <h1>Student input form</h1>
      {% endif %}
<form method="POST">

{{form.as_p}}
{% csrf_token %}
<input class="btn btn-primary" type="submit" value="Submit Marks">
</form>
</div>
  </body>
</html>
