h1{
  text-align: center;

}
body{
  background : url(https://images.unsplash.com/photo-1630178836733-3d61d8974258?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
